@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    animation: introPage 2s ease 1 ;  

}

:root{
    --backgorundColor:white;
    --color-bg: #0f1220;
    --color-text: #eef2ff;
    --color-primary: #7c3aed;
    --color-accent: #22c55e;
    --space-1: 8px;
    --space-2: 16px;
    --radius: 14px;
    --shadow: 0 10px 30px rgba(0,0,0,.25);
    --dur: 180ms;
    --gapPx:20px;
    --goldColor:gold;
     --goldColor:goldenrod;
}

body{
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns:1fr ;
}

a{
    transition: all 1s linear;
    text-decoration: none;
}

header{
    background-color:var(--backgorundColor);
    margin-top: 20px;
    padding: 1px;
    position: sticky;
    z-index: 1000;
    top: 0;
  
}



nav{
    
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
   
   
}

main{
    background-color:var(--backgorundColor);
    display: flex;
    flex-direction: row;
    gap:var(--gapPx);
    justify-content: center;
   
   
}

header nav a {
    color:black;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    font-size: 25px;
   
}

.indexS{
    color:blue;
    font-weight: bold;
}

#mainLink{
    position: relative;
    right: 680px;
    font-size: 40px;
}

#serviciosLink{
    position: relative;
    left:100px;
}

#reservasLink{
 position: relative;
    left:100px;
}

#contactoLink{
 position: relative;
    left:100px;
}

.cuenta{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-end;
    align-content: center;
    gap:20px;
    bottom: 30px;
    right: 40px;

}

.indexMain{
    display: flex;
    flex-direction: row;
}

.pasos{
    width: 300px;
    padding: 10px;
    margin: 1px;
    border-radius: 20px;
    border: 1px solid black;
    transition: width 2s linear;
    background-color: var( --goldColor); 
    box-shadow: 10px 10px 10px var( --goldColor);

}

.pasos > div{

    border-bottom: 1px solid white;
    margin: 0   ;
   
   
}

.pasos >div h1{
    font-weight: bold;
    color:black;
}

.pasos p{

}

.cuenta a{
    text-decoration: none;
    color:black;
    padding: 5px;
    border-radius: 30px;
    font-size: 20px;
    border: 2px solid black;
}
.mainEnter{
    width: 1890px;
    height: 800px;
    background-image: url("../assets/img/backgroundMainMenu.jpg");
    background-size: auto;
    
   
}

.mainEnter h1{
    position: relative;
    justify-self: center;
    align-items: center;
    top: 300px;
    right: 200px;
    color:Black;
    width: 800px;
    font-size: 60px;
    font-weight: bold;
}

.mainEnter h1 span{
    color:blue;
}

.mainEnter p{
    position: relative;
    top: 300px;
    margin-left: 60px;
    width: 800px;
    font-size: 30px;
    color:gold;
}

.introP{
    background-color: grey;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    animation: deslizar 6s linear 0 forwards ;
}






h2{
    font-size: 50px;
    margin-top:30px;
    justify-self:center;
    position: relative;
}

.demandado{
   
   border-radius: 30px;
   padding: 10px;
   width: 304px;
  
}

.vehicleTipo {
   border-bottom: 3px solid white;
}

article div img{
    border-radius: 30px;
    justify-self: center;
}

.space{
    background-color: white;
    padding: 20px;
}


aside{
    background-color: blue;
    padding: 30px;
}

.aside{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
 
}

.news{
    border: 2px solid pink;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.aside h2{
    color:WHITE;
    line-height: 10px;
    font-weight: lighter;
}

.news >  a {
    align-items: center;
    text-decoration: none;
    color:black;
}


.footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
   
    padding: 10px;
}

.copyright{
   color:white;
}

.policy nav a{
    position: relative;
    top: 10px;
    left: 900px;
    text-decoration: none;
    align-items: center;
    justify-content: right;
    color:white;
}




/*CONTACTO Y RESERVA.HTMl*/

#contactoDiv{
   width: 1646px; 

}

.mainContacto{
    position: relative;
    height: 2000px;
    width: 1646px; 
    background-color: white;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:   'intro'
                         'subTittle'
                        'subImg'
                        'form';
}

.intro{
    grid-area: 'intro';
     font-size: 60px;
    font-weight: bold;
    position: relative;
    left: 100px;
    width: 400px;
}

.intro span{
    color:goldenrod;
}

.subTittle{
    grid-area: 'subTittle';
    position: relative;
    left: 500px;
    font-size: 30px;
    width: 600px;

}

.contactImg{
    grid-area: 'subImg';
}

.contactImg img{
    position: relative;
    width: 1500px;
    left: 200px;
    justify-self: center;
}

.formulario{
    grid-area: 'form';
    position: relative;
    justify-content: center;
    left: 700px;
    width: 700px; 

}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    justify-content: center;
}

input{
    border:none;
    outline:none;
    border-bottom: 2px solid gold;
    font-weight: 100;

}

.submit{
    color:white;
    background-color: goldenrod;
}

button{
    color:white;
    height: 30px;
    background-color: goldenrod;
    border-radius: 20px;
}



.formulario h1{
    font-size: 110px;
    color:goldenrod;
    font-weight: 100;
    
}

.formulario a{
    color:gold;
}


/*Gracias.hmtl*/
.opinions{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.opi > h1{
    border-bottom: 2px solid blue;
}

.opinion{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    transition: box-shadow 1s linear ;
    
    
}

.formGracias form{
    justify-content: center;
    position: relative;
    left: 650px;
    margin: 10px;
}

.mainReservas{
    display: block;
    justify-content: center;
    position: relative;
    left: 600px;
}

.galery{
    background-color: gold;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divImg{
    gap: 30px;
}

.divImg img{
    width: 400px;
    height: 300px;
}


table{
    border: 1px solid black;
    padding: 5px;
    width: 600px;
    
    
    margin-bottom: 10px;
}

.table{
    
    width: 600px;
    padding: 10px;
    margin: 10px;
}

table a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}
thead{
    justify-content: left;
}

#formularioReserva{
    grid-area: 'form';
    position: relative;
    justify-content: center;
    width: 700px;
    
}


form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    justify-content: center;
}

select{
   border:none;
    outline:none;
    border-bottom: 2px solid gold;
    font-weight: 100;  
}

input{
    border:none;
    outline:none;
    border-bottom: 2px solid gold;
    font-weight: 100;

}

.submit{
    color:white;
    background-color: goldenrod;
}

button{
    color:white;
    height: 30px;
    background-color: goldenrod;
    border-radius: 20px;
    margin-bottom: 10px;
}



#formularioReserva h1{
    font-size: 110px;
    color:var(--goldColor);
    font-weight: 100;
    
}

#formularioReserva a{
    color:gold;
}
#IntroServicios{
    margin: 30px;
}
#IntroServicios h1{
    color:goldenrod;
}

.allServices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr        ;
    gap: 20px;
    
}

.gridServicios{
    justify-content: center;
    margin: auto;

}

.divService{
    border: 1px solid black;
    margin: 10px;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    box-shadow: 5px 10px 14px black;
}

.divService{
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px 15px black;
    transition: box-shadow 1s ease-in-out;
   
}

.divImgReserve{
    padding: 10px;
    
    
}

.divService div h3{
    color:goldenrod;
    font-size: 20pt;
}

.divService div h3 p span{
    color:gold;
}

.divImgService{
    z-index: 0;
    width: auto;
    height: 300px;
    background:linear-gradient(to top,blue, gold);
}
.divImgService img{
   
    height: 200px;
    width: 400px;
    justify-self: center;
}

.divImgService button{
    top: 150px;
    
    z-index: 1;
    position: relative;
    
   
    justify-content: right;
   
}



.divService:hover{
    box-shadow: 10px 10px 15px gold;
}










/*Animations*/

@keyframes introPage {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes deslizar {
    0%{left: 0;}
    50%{left: 50%;}
    100%{left:0;}
    
    
}

@keyframes moveTittle {
   
}


/*PSEUDO-CLASES*/
a:hover{
    text-decoration: underline gold ;
    font-weight: bold;
    font-size: 20px;

}

.opinion:hover{
   
    box-shadow: 10px 15px 155px var(--goldColor);
    
}

.pasos:hover{
    width: 350px;
    
    
}

/*Media Queries*/
/*Móvil*/
@media (max-width:768px ){
    body{
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px){
    h1{
        font-size: 2rem;
    }
    img{
        width: 100%;

    }
    section{
        padding: 10px;
    }
}


