@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
}

body{
    padding: 0;
    margin:0;
   
}

header{
    background-color: white;
    margin-top: 20px;
    padding: 1px;
}

nav{
    
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
}

header nav a {
    color:black;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    font-size: 25px;
  
}

#mainLink{
    position: relative;
    right: 680px;
    font-size: 40px;
}

#serviciosLink{
    position: relative;
    left:100px;
}

#reservasLink{
 position: relative;
    left:100px;
}

#contactoLink{
 position: relative;
    left:100px;
}

.cuenta{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-end;
    align-content: center;
    gap:20px;
    bottom: 30px;
    right: 40px;

}

.cuenta a{
    text-decoration: none;
    color:black;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid black;
}
.mainEnter{
    width: 1890px;
    height: 800px;
    background-image: url("../assets/img/backgroundMainMenu.jpg");
    background-size: auto;
    
   
}

.mainEnter h1{
    position: relative;
    justify-self: center;
    align-items: center;
    top: 200px;
    right: 200px;
    color:Black;
    width: 800px;
    font-size: 60px;
    font-weight: bold;
}

.mainEnter h1 span{
    color:blue;
}

.mainEnter p{
    position: relative;
    top: 300px;
    
    font-size: 30px;

}


main{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    background-color: bisque;
}

 h2{
    font-size: 50px;
    margin-top:30px;
    justify-self:center;
    position: relative;
   

}

.demandado{
   border: 4px dotted black;
   border-radius: 30px;
   padding: 10px;
   width: 304px;
  
}

.vehicleTipo {
   border-bottom: 3px solid white;
}

article div img{
    border-radius: 30px;
    justify-self: center;
}

.news h4{
    
    line-height: 10px;
    font-weight: lighter;
}


.footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
   
    padding: 10px;
}

.copyright{
   color:white;
}

.policy nav a{
    position: relative;
    top: 10px;
    left: 900px;
    text-decoration: none;
    align-items: center;
    justify-content: right;
    color:white;
}