@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    animation: introPage 2s ease 1 ;  

}

:root{



    
}

body{
    padding: 0;
    margin:0;
}

a{
    transition: all 1s linear;
    text-decoration: none;
}

header{
    background-color: white;
    margin-top: 20px;
    padding: 1px;
    position: sticky;
    z-index: 1000;
    top: 0;
  
}



nav{
    
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
   
}

header nav a {
    color:black;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    font-size: 25px;
   
}

#mainLink{
    position: relative;
    right: 680px;
    font-size: 40px;
}

#serviciosLink{
    position: relative;
    left:100px;
}

#reservasLink{
 position: relative;
    left:100px;
}

#contactoLink{
 position: relative;
    left:100px;
}

.cuenta{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-end;
    align-content: center;
    gap:20px;
    bottom: 30px;
    right: 40px;

}

.cuenta a{
    text-decoration: none;
    color:black;
    padding: 5px;
    border-radius: 30px;
    font-size: 20px;
    border: 2px solid black;
}
.mainEnter{
    width: 1890px;
    height: 800px;
    background-image: url("../assets/img/backgroundMainMenu.jpg");
    background-size: auto;
    
   
}

.mainEnter h1{
    position: relative;
    justify-self: center;
    align-items: center;
    top: 300px;
    right: 200px;
    color:Black;
    width: 800px;
    font-size: 60px;
    font-weight: bold;
}

.mainEnter h1 span{
    color:blue;
}

.mainEnter p{
    position: relative;
    top: 300px;
    margin-left: 60px;
    width: 800px;
    font-size: 30px;
    color:gold;
}

.introP{
    background-color: grey;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    animation: deslizar 6s linear 0 forwards ;
}


main{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    background-color: bisque;
   
}

h2{
    font-size: 50px;
    margin-top:30px;
    justify-self:center;
    position: relative;
}

.demandado{
   
   border-radius: 30px;
   padding: 10px;
   width: 304px;
  
}

.vehicleTipo {
   border-bottom: 3px solid white;
}

article div img{
    border-radius: 30px;
    justify-self: center;
}

.space{
    background-color: white;
    padding: 20px;
}


aside{
    background-color: blue;
    padding: 30px;
}

.aside{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
 
}

.news{
    border: 2px solid pink;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.aside h2{
    color:WHITE;
    line-height: 10px;
    font-weight: lighter;
}

.news >  a {
    align-items: center;
    text-decoration: none;
    color:black;
}


.footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
   
    padding: 10px;
}

.copyright{
   color:white;
}

.policy nav a{
    position: relative;
    top: 10px;
    left: 900px;
    text-decoration: none;
    align-items: center;
    justify-content: right;
    color:white;
}




/*CONTACTO Y RESERVA.HTMl*/

#contactoDiv{
   width: 1646px; 

}

.mainContacto{
    position: relative;
    height: 2000px;
    width: 1646px; 
    background-color: white;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:   'intro'
                         'subTittle'
                        'subImg'
                        'form';
}

.intro{
    grid-area: 'intro';
     font-size: 60px;
    font-weight: bold;
    position: relative;
    left: 100px;
    width: 400px;
}

.intro span{
    color:goldenrod;
}

.subTittle{
    grid-area: 'subTittle';
    position: relative;
    left: 500px;
    font-size: 30px;
    width: 600px;

}

.contactImg{
    grid-area: 'subImg';
}

.contactImg img{
    position: relative;
    width: 1500px;
    left: 200px;
    justify-self: center;
}

.formulario{
    grid-area: 'form';
    position: relative;
    justify-content: center;
    left: 700px;
    width: 700px; 

}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    justify-content: center;
}

input{
    border:none;
    outline:none;
    border-bottom: 2px solid gold;
    font-weight: 100;

}

.submit{
    color:white;
    background-color: goldenrod;
}

button{
    color:white;
    height: 30px;
    background-color: goldenrod;
    border-radius: 20px;
}



.formulario h1{
    font-size: 110px;
    color:goldenrod;
    font-weight: 100;
    
}

.formulario a{
    color:gold;
}



/*Animations*/

@keyframes introPage {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes deslizar {
    0%{left: 0;}
    50%{left: 50%;}
    100%{left:0;}
    
    
}

@keyframes moveTittle {
   
}


/*Hover*/
a:hover{
    text-decoration: underline gold ;
    font-weight: bold;
    font-size: 20px;

}
