*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 0;
    margin:0;
   
}

.mainEnter{
    width: 5000px;
    height: 500px;
    background-image: url("../assets/img/backgroundMainMenu.jpg");

    z-index: 0;
   
}