*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 0;
    margin:0;
    background-image: url("../assets/img/backgroundMainMenu.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

header{
    z-index: 1;
    padding: 30px;    
}

nav{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
}

nav a {
    color:black;
    text-decoration: none;

    font-size: 40px;
    font-weight: bold;
}

 .menu-Lateral{
    background-color: violet;
    width: 0px;
    transition:width 5s linear;
    visibility: hidden;
}

.menu-Lateral1:hover .menu-Lateral{
   width: 500px;
   visibility: none;
    
}

.mainEnter{
  
   
    z-index: 0;
   
}



/*Pseucódigo
*/
